<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YonghusixinMapper">
  <resultMap id="BaseResultMap" type="com.entity.Yonghusixin">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="yonghuming" jdbcType="VARCHAR" property="yonghuming" />    <result column="biaoti" jdbcType="VARCHAR" property="biaoti" />    <result column="neirong" jdbcType="VARCHAR" property="neirong" />    <result column="fajianren" jdbcType="VARCHAR" property="fajianren" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yonghuming,biaoti,neirong,fajianren, addtime
  </sql>
  <select id="quchongYonghusixin"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from yonghusixin 
    where fajianren = #{fajianren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from yonghusixin  where 1=1
    <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="neirong!=null">and neirong like  concat('%',#{neirong,jdbcType=VARCHAR},'%')</if>     <if test="fajianren!=null">and fajianren like  concat('%',#{fajianren,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghusixin  where 1=1
    <if test="fajianren!=null">
    and fajianren =#{fajianren}
    </if>
  </select>
  
  <select id="getsyyonghusixin1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghusixin  where 1=1
    limit 0,5
  </select>
  <select id="getsyyonghusixin2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghusixin  where 1=1
    limit 0,5
  </select>
  <select id="getsyyonghusixin3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghusixin  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from yonghusixin where 1=1 
     <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="neirong!=null">and neirong like  concat('%',#{neirong,jdbcType=VARCHAR},'%')</if>     <if test="fajianren!=null">and fajianren like  concat('%',#{fajianren,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yonghusixin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yonghusixin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Yonghusixin">
    insert into yonghusixin (id, yonghuming,biaoti,neirong,fajianren, addtime)
    values (#{id,jdbcType=INTEGER}, #{yonghuming,jdbcType=VARCHAR},#{biaoti,jdbcType=VARCHAR},#{neirong,jdbcType=VARCHAR},#{fajianren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Yonghusixin">
    insert into yonghusixin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yonghuming != null"> yonghuming, </if>      <if test="biaoti != null"> biaoti, </if>      <if test="neirong != null"> neirong, </if>      <if test="fajianren != null"> fajianren, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yonghuming != null"> #{yonghuming,jdbcType=VARCHAR},</if>      <if test="biaoti != null"> #{biaoti,jdbcType=VARCHAR},</if>      <if test="neirong != null"> #{neirong,jdbcType=VARCHAR},</if>      <if test="fajianren != null"> #{fajianren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Yonghusixin">
    update yonghusixin
    <set>
	  <if test="yonghuming != null"> yonghuming = #{yonghuming,jdbcType=VARCHAR},</if>      <if test="biaoti != null"> biaoti = #{biaoti,jdbcType=VARCHAR},</if>      <if test="neirong != null"> neirong = #{neirong,jdbcType=VARCHAR},</if>      <if test="fajianren != null"> fajianren = #{fajianren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Yonghusixin">
    update yonghusixin
    set yonghuming = #{yonghuming,jdbcType=VARCHAR},biaoti = #{biaoti,jdbcType=VARCHAR},neirong = #{neirong,jdbcType=VARCHAR},fajianren = #{fajianren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
